
*{
   background-color: black;
}


.partiephoto{
    width: 200px;
    height: 500px;
    margin-left: 650px;
    margin-top: 100px;
    filter: brightness(100%);
}

.mgf{
    margin-left: 100px;
    margin-top: -400px;
    filter: brightness(100%);

}

.wild{
    margin-left: 750px;
    margin-top: 250px;
    filter: brightness(100%);
}

.bobo{
    margin-left: 750px;
    margin-top: 150px;
    filter: brightness(100%);
}

.sb{

    margin-left: 350px;
    margin-top: 250px;
    filter: brightness(100%);
    

}

.titre1{
    margin-top: -1950px;
    font-size: xx-large;
    color: rgb(161, 2, 2);
    margin-left: 250px;
}

.t2{
    color: rgb(96, 31, 31);
    margin-left: 60px;
    margin-top: 500px;
}

.derniereparti{
    color: aliceblue;
    margin-top: 250px;
}

.sudafri{
    color: rgb(224, 8, 138);
    margin-top: 460px;
}



